body {
    color: #181515;
    background-color: rgb(185, 185, 185);
}

.jumbotron {
    background-image: url("../images/Autumn_Trees.jpg");
    background-size: 100% 100%;
    text-align: center;
    background-color: forestgreen;
    background: rgb(212, 236, 212);
  }

#user-input {
    border-color: forestgreen;
}

#prediction {
    font-weight: bold;
    color:forestgreen;
    text-align: center;
}

#ml{
    text-align: center;
}

#designer {
    text-align: right;
}

#insights {
    text-align: center;
}

#metrics {
    font-weight: bold;
}